# 01. Preparing Notebook
# 02. Average number of orders per department_id
# 03. Analyzing the average number of orders per department_id and compare it to the subset of the frist 1.000.000 orders.
# 04. Create a flag
# 05. Calculate average price for each group in 'loyalty_flag'
# 06. Target different types of spenders
# 07. Determine frequent vs. non-frequent users
# 08. Clean and structure notebook
# 09. Export data
# 10. Save and submit

## 01. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# creating path
path = r'C:\Users\lifti\OneDrive\CareerFoundry\Data Immersion\Achievement4\Instacart Basket Analysis'

In [3]:
# importing 'orders_products.pkl'
ords_prods_merge = pd.read_pickle (os.path.join (path, '02 Data','Prepared Data','orders_products.pkl'))

In [4]:
ords_prods_merge

,order_id,user_id,order_number_history,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Mid-range products,Regularly busy,Regularly busy,Average orders,3,New customer
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Mid-range products,Regularly busy,Least busy,Least orders,3,New customer
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range products,Least busy,Least busy,Most orders,16,Regular customer

## 02. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [10]:
# creating a subset (df) where I calculate the mean 
# of 'order_number_history' for each 'department_id'
df = ords_prods_merge.groupby('department_id')['order_number_history'].mean()

In [11]:
df

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number_history, dtype: float64

## 03. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In [18]:
# import 'departments_wrangeld' to get a better sense what the numbers
# of depmartment_id means
df_dep = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','departments_wrangled.csv'), index_col = False)

In [19]:
df_dep

    deparment_id       department
0              1           frozen
1              2            other
2              3           bakery
3              4          produce
4              5          alcohol
5              6    international
6              7        beverages
7              8             pets
8              9  dry goods pasta
9             10             bulk
10            11    personal care
11            12     meat seafood
12            13           pantry
13            14        breakfast
14            15     canned goods
15            16       dairy eggs
16            17        household
17            18           babies
18            19           snacks
19            20             deli
20            21          missing

In [75]:
# counting 'department_id' to get a better sense on how many times each
# 'deparment' was ordered
ords_prods_merge['department_id'].value_counts(dropna = False)

4     9479291
16    5398747
19    2887550
7     2688123
1     2234743
13    1875369
3     1172428
15    1068058
20    1051249
9      866627
17     738666
12     708927
14     703033
11     447572
18     423802
6      269253
5      153696
8       97716
21      69145
2       36291
10      34573
Name: department_id, dtype: int64

#### The highest order average (22,9) has department_id 21 (missing), but with approx. 69.000 orders the problem of missing is not very pressing.
#### The lowest order average (15,22) has department_id 5 (alcohol).

#### It seems that in the first 1.000.000 rows of the dataframe there were a lot less departments that a user could choos from.
#### The order average is in every deparment_id lower with the total data sets except for department_di 17.

## 04. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

#### I already did this in the lerning part

## 05. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [42]:
# calculation the mean of 'price' for the groups in 'loyality_flag'
df_loy = ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

In [43]:
df_loy

loyalty_flag
Loyal customer      10.386336
New customer        13.294670
Regular customer    12.495717
Name: prices, dtype: float64

#### 'Loyal customers' are bying on average less than 'New and Regular customers'

## 06. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
## 06a. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## 06b. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [48]:
# creating a new column 'average_price_order' where the average price per order_id is calculated
ords_prods_merge['average_price_order'] = ords_prods_merge.groupby(['order_id'])['prices'].transform(np.mean)

In [49]:
ords_prods_merge

,order_id,user_id,order_number_history,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Average orders,10,New customer,5.200000
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer,8.000000
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer,5.240000
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Mid-range products,Regularly busy,Regularly busy,Average orders,3,New customer,8.750000
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Mid-range products,Regularly busy,Least busy,Least orders,3,New customer,7.288889
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range products,Least busy,Least busy,Most orders,16,Regular customer,7.275000

In [51]:
# checking if the calculation makes sense by subsetting for user_id ==1 
ords_prods_merge.loc[ords_prods_merge['user_id']==1]

,order_id,user_id,order_number_history,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Average orders,10,New customer,5.200000
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.250000
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,5.800000
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
35791,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000
51726,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000
51727,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
51728,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000
51729,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range products,Least busy,Least busy,Average orders,10,New customer,5.200000
51730,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
51731,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.250000
51732,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,5.800000
51733,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
51734,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,23,19,4.4,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
51735,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,23,19,4.4,Low-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
58202,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000
58203,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
60725,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000
60726,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range products,Least busy,Least busy,Average orders,10,New customer,5.200000
61939,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,Low-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
61940,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,Low-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000
61941,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,117,19,3.0,Low-range products,Least busy,Least busy,Average orders,10,New customer,5.200000
61942,431534,1,5,4,15,28.0,10258,3,1,Pistachios,117,19,3.0,Low-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
61943,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,117,19,3.0,Low-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.250000
61944,550135,1,7,1,9,20.0,10258,2,1,Pistachios,117,19,3.0,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,5.800000
61945,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,117,19,3.0,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
61946,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,117,19,3.0,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
61947,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,117,19,3.0,Low-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
63885,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
63886,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,24,4,10.3,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
443335,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000
443336,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,5.800000
443337,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,Low-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
447086,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000
447087,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range products,Least busy,Least busy,Average orders,10,New customer,5.200000
447088,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
447089,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.250000
447090,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,5.800000
447091,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
447092,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,21,16,8.6,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
447093,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,21,16,8.6,Mid-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
453282,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88,13,3.2,Low-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000
474772,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,24,4,2.7,Low-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
480298,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,24,4,14.0,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
494178,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,24,4,5.0,Low-range products,Least busy,Least busy,Most orders,10,New customer,7.125000
529591,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,77,7,13.4,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
529592,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
529593,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
538149,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,53,16,1.8,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
538150,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,53,16,1.8,Low-range products,Regularly busy,Busiest days,Most orders,10,New customer,6.700000
614509,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,45,19,6.8,Mid-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
619528,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,Mid-range products,Least busy,Least busy,Average orders,10,New customer,7.011111
632766,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,Low-range products,Least busy,Least busy,Average orders,10,New customer,7.011111

In [53]:
# flagging the new column 'average_price_order'
# mean < 10 = "Low spender"
ords_prods_merge.loc[ords_prods_merge['average_price_order']<10, 'Spender'] = 'Low spender'

In [54]:
# mean >= 10 = "High spender"
ords_prods_merge.loc[ords_prods_merge['average_price_order']>=10, 'Spender'] = 'High spender'

In [74]:
# checking if it worked
ords_prods_merge['Spender'].value_counts(dropna = False)

Low spender     30698067
High spender     1706792
Name: Spender, dtype: int64

In [58]:
ords_prods_merge

,order_id,user_id,order_number_history,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_order,Spender
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range products,Least busy,Least busy,Average orders,10,New customer,5.200000,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,7,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer,8.000000,Low spender
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,7,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer,5.240000,Low spender
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",...,19,6.9,Mid-range products,Regularly busy,Regularly busy,Average orders,3,New customer,8.750000,Low spender
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,19,6.9,Mid-range products,Regularly busy,Least busy,Least orders,3,New customer,7.288889,Low spender
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,...,14,10.3,Mid-range products,Least busy,Least busy,Most orders,16,Regular customer,7.275000,Low spender

## 07. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
## 07a. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## 07b. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## 07b. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [99]:
# creating a new column, where I calculate the median of 
# 'days_since_prior_order' per customer
ords_prods_merge['median_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [100]:
ords_prods_merge

,order_id,user_id,order_number_history,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_order,Spender,median_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range products,Regularly busy,Regularly busy,Average orders,10,New customer,6.320000,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range products,Regularly busy,Least busy,Average orders,10,New customer,5.900000,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range products,Regularly busy,Least busy,Most orders,10,New customer,5.640000,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range products,Least busy,Least busy,Average orders,10,New customer,5.200000,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range products,Least busy,Least busy,Most orders,10,New customer,7.125000,Low spender,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer,8.000000,Low spender,8.0
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,3.7,Low-range products,Regularly busy,Regularly busy,Most orders,31,Regular customer,5.240000,Low spender,8.0
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",...,6.9,Mid-range products,Regularly busy,Regularly busy,Average orders,3,New customer,8.750000,Low spender,15.0
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,6.9,Mid-range products,Regularly busy,Least busy,Least orders,3,New customer,7.288889,Low spender,15.0
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,...,10.3,Mid-range products,Least busy,Least busy,Most orders,16,Regular customer,7.275000,Low spender,13.0

In [71]:
# changing display option for printing more data sets
pd.options.display.max_rows = 200

In [101]:
# checking if it worked
ords_prods_merge['median_order'].value_counts(dropna = False)

7.0     5682399
6.0     2983604
8.0     2713964
5.0     2486061
4.0     2314289
30.0    1683850
9.0     1635007
3.0     1479987
10.0    1271865
14.0    1213600
13.0    1058299
11.0    1049680
12.0     971198
15.0     744370
2.0      561164
16.0     514568
21.0     421180
17.0     399563
20.0     372214
18.0     356923
19.0     349154
22.0     265844
23.0     201952
28.0     199904
27.0     173220
24.0     169330
26.0     161951
25.0     152639
1.0      152118
29.0     136919
7.5       50062
6.5       45163
8.5       36247
0.0       34240
9.5       33755
10.5      30913
4.5       29496
5.5       28796
12.5      25362
13.5      23823
11.5      19766
14.5      17736
15.5      14732
18.5      14457
17.5      12968
3.5       12468
20.5       9958
16.5       9822
19.5       9416
25.5       7910
22.5       7842
24.5       7412
2.5        7249
21.5       7111
23.5       6656
28.5       6551
27.5       5599
26.5       5514
29.5       5095
1.5        1684
0.5         235
NaN           5
Name: median_order, dtype: int64

In [104]:
# subsetting NaN to have understand why there is data missing.
df_nan = ords_prods_merge[ords_prods_merge['median_order'].isnull()]

In [105]:
df_nan

,order_id,user_id,order_number_history,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price_order,Spender,median_order
13645692,895835,159838,1,0,17,NaN,10749,3,0,Organic Red Bell Pepper,...,5.7,Mid-range products,Busiest day,Busiest days,Most orders,1,New customer,7.42,Low spender,NaN
17251990,895835,159838,1,0,17,NaN,33401,6,0,Goat Cheese Crumbles,...,14.8,Mid-range products,Busiest day,Busiest days,Most orders,1,New customer,7.42,Low spender,NaN
17622767,895835,159838,1,0,17,NaN,23695,2,0,California Veggie Burger,...,4.7,Low-range products,Busiest day,Busiest days,Most orders,1,New customer,7.42,Low spender,NaN
24138593,895835,159838,1,0,17,NaN,21334,5,0,Organic Peeled Garlic,...,10.2,Mid-range products,Busiest day,Busiest days,Most orders,1,New customer,7.42,Low spender,NaN
25880002,895835,159838,1,0,17,NaN,22198,1,0,4X Ultra Concentrated Natural Laundry Detergen...,...,1.7,Low-range products,Busiest day,Busiest days,Most orders,1,New customer,7.42,Low spender,NaN

#### It looks like we have just 5 customers who have ordered 1 time only.

In [107]:
# Why is the max. median 30? Also the maximum days between orders is 30. Why?
ords_prods_merge['days_since_prior_order'].max()

30.0

In [108]:
# flagging as follows:
# 'median_order' > 20 = 'Non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['median_order']>20, 'customer_frequency'] = 'Non-frequent customer'

In [109]:
# 'median_order' <= 10 = 'Frequent customer'
ords_prods_merge.loc[ords_prods_merge['median_order']<=10, 'customer_frequency'] = 'Frequent customer'

In [112]:
# 10 >'median_order' <= 20 = 'Regular customer'
ords_prods_merge.loc[(ords_prods_merge['median_order']>10) & (ords_prods_merge['median_order']<=20), 'customer_frequency'] = 'Regular customer'

In [113]:
# checking if it worked
ords_prods_merge['customer_frequency'].value_counts (dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: customer_frequency, dtype: int64

## 08. Ensure your notebook is clean and structured and that your code is well commented.

## 09. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [115]:
ords_prods_merge.to_pickle (os.path.join (path,'02 Data','Prepared Data','orders_products_2.pkl'))

## 10. Save your notebook and submit it to your tutor for review.